/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FORM */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid red;
  margin-top: 15vh;
  height: 30rem;
  width: 25vw;
  border-radius: 2em;
}

label {
  align-self: flex-start;
  margin-left: 3.6em;
}

input {
  height: 2em;
  width: 20em;
  padding: 0.3em;
}

input[type="text"], input[type="email"] {
  margin-bottom: 2em;
}

.reg-btn {
  cursor: pointer;
  padding: 0.3em;
  height: 2em;
  width: 20em;
  background-color: transparent;

}

.icon-invisible {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: -1.5em;
  margin-right: -18em;
  margin-bottom: 2em;
}

.icon-visible {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: -3.5em;
  margin-right: -18em;
  margin-bottom: 2em;
}

.p-already-registered {
  font-size: 0.75em;
  margin-left: 10.5em;
  margin-bottom: 1em;
}